* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f5f7fa;
    /* para ocupar toda a altura da página: */
    height: 100vh; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    height: 44px;
    /* preciso dar um height pro meu navbar */
    height: 44px;
}

.navbar i {
    font-size: 1.5rem;
    color: #dadfe6;
}

.navbar i:nth-child(1){
    color: #fe466d;
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 44px);
    align-items: center;
}


.content-container {
    padding: 5px 0;
}

.photo{
    width: 98vw;
    height: 91vh;
    background: url(./img/girl.png) center center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: white;
    box-shadow: 0 2px 10px 0 rgba(136,136, 136, 0.77);
    
}


.text{
    padding: 10px 10px;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(35, 34, 65, 0) 0%,
        rgba(0, 0, 0, 0.7) 52%
    );
    border-radius: 10px;
}

.text h1 {
    padding: 10px 0;
    font-size: 1.6rem;
    font-weight: 500;
}

.text p{
    line-height: 1.5rem;
    font-size: 1.0rem;
    font-weight: 500;
}



.next_photo{
    width: 98vw;
    height: 91vh;
    background: url(./img/homem.jpeg) center center/cover;
    border-radius: 10px;
    align-items: flex-end;
    color: white;
    box-shadow: 0 2px 10px 0 rgba(136,136, 136, 0.77);
    display: none;
}

.icons{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    transition: transform 500ms ease;

}

.icons .action:hover{
    cursor:pointer;
    transform: scale(1.2);
}

.action i {
   background: #ffff;
   box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
   height: 60px;
   width: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   font-size: 2rem;
}


.icons .action:nth-child(1){
    color: #fd5068;
}


.icons .action:nth-child(2){
    margin: 0 1rem;
    color: #2db1ff;
    height: 60px;
   
    font-size: 1.5rem;
}


.icons .action:nth-child(3){
    color: #1be4a1;
}


/* Desktop View */

@media (min-width: 1025px){
    .photo{
        width: 367px;
        height: 684px;
    }

    .navbar{
        width: 400px;
        margin: auto;
    }

    .icons {
        margin-right: 20;
    }

    }
